#include <windows.h>

1 ICON "gui_data\\img\\GUI-Icon.ico"

1 VERSIONINFO
FILEVERSION 5,6,0,1
PRODUCTVERSION 5,6,0,1
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "UVR5 Windows ARM64 Port\0"
            VALUE "FileDescription", "Ultimate Vocal Remover 5 ARM64 Launcher\0"
            VALUE "FileVersion", "5.6.0.1\0"
            VALUE "InternalName", "UVR5_ARM64\0"
            VALUE "OriginalFilename", "UVR5_ARM64.exe\0"
            VALUE "ProductName", "Ultimate Vocal Remover 5 ARM64\0"
            VALUE "ProductVersion", "5.6.0.1\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
